* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100% !important;
}

html, body {
    height: 100%;
    width: var(viweport);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding: 5rem;
    padding-bottom: 1rem;
    padding-inline: 3rem;
    width: 450px;
    min-height: 300px;
    max-height: 900px;
    background-color: yellowgreen;
    border-radius: 50px;
    box-shadow: -12px 11px 20px black;
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info > img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.nome {
    color: black;
    font: bolder;
    font-size: 30px;
}

.bio {
    font-size: 20px;
}

.divi {
    background-color: rgba(117, 117, 117, 0.534);
    height: 5px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: visible;

    gap: 30px;
    padding: 10px;
}

.link {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 100%;
    padding: 20px;
    transition: .3s;
    gap: 10px;
    position: relative;
}


.link:hover {
    transform: scale(1.05);

}

.bi {
    position: absolute;
    left: 0px;
    margin-left: 50px;
    text-align: center;
}

.ig {
    background: url(https://t4.ftcdn.net/jpg/06/55/50/69/360_F_655506911_1p13PsGKM93SuCePkLUcd75TW1Bzu4jg.jpg);
    background-position: center;
    background-size: cover;
}

.dc {
    background-color: rgb(49, 51, 56);
}

.yt {
    background-color: rgb(255, 0, 0);
}